.mobileAddress-root {
    display: flex;
    flex-direction: column;

    .heading{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        padding: 24px 16px;
        
        .heading-text {
            font-size: 20px;
            font-weight: 600;
        }
    }

    .content {

    }
}