@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.main-content {
    padding-left: 80px;
    padding-right: 80px;
    overflow: hidden;
    margin-top: 32px;
}