@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.main-content {
    overflow: hidden;
}

.main-content > * {
    padding: 40px 80px;
}

.main-content > *:first-child {
    padding-top: 32px !important;
}

@media (max-width: 400px) {
    .main-content > * {
        padding: 0px 16px;
    }
}