.whole-banner {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 100%;
    overflow-x: hidden;
    border-radius: 30px;;
}

.banner-images {
    display: flex;
    gap: 8px;
    width: 100%;
    max-width: 100%;
    margin-inline: auto;
    height: auto;
    position: relative;
    /* mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    ); */
}

/* @keyframes scrollLeft {
    to {
        left: -200px;
    }
} */

.banner-poster {
    width: auto;
    height: 248px;
    border-radius: 30px;
    /* animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    left: max(calc(200px * 10), 100%);
    animation-name: scrollLeft; */
}

/* .poster1 {
    animation-delay: calc(10s / 10 * (10 - 1) * -1);
}

.poster2 {
    animation-delay: calc(10s / 10 * (10 - 2) * -1);
}

.poster3 {
    animation-delay: calc(10s / 10 * (10 - 3) * -1);
}

.poster4 {
    animation-delay: calc(10s / 10 * (10 - 4) * -1);
}

.poster5 {
    animation-delay: calc(10s / 10 * (10 - 5) * -1);
}

.poster6 {
    animation-delay: calc(10s / 10 * (10 - 6) * -1);
}

.poster7 {
    animation-delay: calc(10s / 10 * (10 - 7) * -1);
}

.poster8 {
    animation-delay: calc(10s / 10 * (10 - 8) * -1);
}

.poster9 {
    animation-delay: calc(10s / 10 * (10 - 9) * -1);
}

.poster10 {
    animation-delay: calc(10s / 10 * (10 - 10) * -1);
} */