/* @import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.whole-productSlider-root {
    width: 100%;
    margin-top: 30px;
}

.productSlider-header {
    display: flex;
    margin-bottom: 24px;
    justify-content: center;
    align-items: center;
}

.productSlider-title {
    font-size: 20px;
    font-weight: semi-bold;
}

.productSlider-header-spacer {
    width: auto;
    flex-grow: 1;
}

.productSlider-viewAll-button {
    border-radius: 32px;
    border-color: #B6349A;
    border-width: 1px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.productSlider-viewAll-text {
    font-size: 14px;
    font-weight: semi-bold;
}

.productSlider-viewAll-icon {
    width: 20px;
    height: 20px;
}

.productSlider-arrowGroup {
    margin-left: 24px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.prodcutSlider-leftArrowButton, .prodcutSlider-rightArrowButton {
    border-radius: 100%;
    border-width: 1px;
    background-color: rgba(240, 238, 240, 0.6);
    padding: 12px;
    border-color: #F0EEF0;
}

.prodcutSlider-leftArrowButton.slick-disabled {
    border-color: black;
}

.prodcutSlider-rightArrowButton :before {
    border-radius: 100%;
    border-width: 1px;
    background-color: white;
    padding: 12px;   
    border-color: #F0EEF0;
}

.productSlider-slider {
    display: flex;
    gap: 24px;
}

.slick-arrow:before {
    color: black;
    background-color: grey;
    background: grey;
    font-size: 32px;
}

.slick-track {
    width: 100% !important;
    display: flex !important;
    flex-wrap: nowrap !important;
}

.slick-slide {
    margin-right: 24px !important; 
}

.slick-slide:last-child {
    margin-right: 0;
}

.slick-arrow {
    outline: none;
} */