/* .whole-navbar {
    width: 100vw;
    background-color: #FFFFFF;
    height: 84px;
    display: flex;
    align-items: center;
    padding-left: 80px;
}



@media (min-width: 1000px)  {
    .whole-navbar {
        padding-right: 80px;
    }
}

.navbar-icon {
    cursor: pointer;
    min-width: 134px;
}

.navbar-location {
    display: flex;
    align-items: center;
}

.navbar-location-text {
    font-family: "Inter", "SF Pro Display", "Montserrat", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #3E3B3F;
    margin-left: 8px;
    white-space: nowrap;
}

@media (min-width: 1000px) {
    .navbar-spacer {
        max-width: 20px;
    }
}


.navbar-spacer {
    min-width: 1px;
    flex-grow: 1;
}

.navbar-spacer-left {
    width: 133px;
    min-width: 1px;
    flex-grow: 1;
}

.navbar-spacer-right {
    width: 176px;
    min-width: 1px;
    flex-grow: 1;
}

.navbar-searchbar {
    width: 458px;
    min-width: 150px;
    display: flex;
    align-items: center;
    background-color: white;
    border-color: #F8F7F8;
    border-radius: 32px;
    border-width: 2px;
    height: 64px;
    flex-grow: 1;
    position: relative;
}

.navbar-searchbar:focus-within {
    border-color: #B6349A40;
    border-width: 2px;
}

.navbar-searchbar-icon {
    margin-left: 16px;
    margin-right: 8px;
}

.navbar-searchbar-input {
    width: 100%;
    margin: 10px;
}

.navbar-searchbar-input::placeholder {
    font-size: 12px;
}

.navbar-searchbar-input:focus {
    outline: none;
}

.whole-dropdown {
    min-height: 100px;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 10;
    border-radius: 24px;
    top: 117%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.navbar-loginButton {
    display: flex;
    align-items: center;
    padding: 12px 32px;
    border-radius: 39px;
    border-color: #B6349A;
    border-width: 1px;
    margin-left: 20px;
    cursor: pointer;
}

.navbar-login-text {
    font-size: 12px;
    margin-left: 8px;
    font-weight: semi-bold;
    cursor: pointer;
}

.navbar-login-icon {
    cursor: pointer;
    width: 16px;
    height: auto;
}

.navbar-cart-image {
    color: white;
}

@media (max-width: 600px) {
    .whole-navbar {
        padding-left: 16px;
        padding-right: 16px;
    }
}   

@media (max-width: 999px) {

    .whole-navbar {
        height: 124px;
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #F8F7F8;
        background-color: #faf8f9;        
    }

    .whole-navbar:focus-within {
        padding-left: 0px;
    }

    .navbar-firstLine {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-firstLine-spacer {
        width: 80px;
        flex-grow: 1;
    }

    .navbar-location {
        display: flex;
        align-items: center;
    }
    
    .navbar-location-text {
        font-family: "Inter", "SF Pro Display", "Montserrat", "Helvetica Neue", Arial, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #B6349A;
        margin-left: 8px;
        white-space: nowrap;
    }

    .navbar-location-icon {
        fill: #B6349A;
    }

    .navbar-secondLine {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-spacer {
        max-width: auto;
        flex-grow: 1;
    }

    .navbar-searchbar {
        width: 247px;
        flex-grow: 1;
        margin-left: 64px;
        margin-right: 64px;
        height: 40px;
        margin-top: 12px;
        border: none;
        transition: margin-left 0.3s ease, margin-right 0.3s ease;
    }

    .navbar-searchbar:focus-within {
        border-color: #B6349A40;
        border-width: 2px;
        border-style: solid;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar-searchbar-input {
        width: 100%;
        flex-grow: 1;
        margin: 10px;
    }

    .navbar-firstLine {
        transition: opacity 0.3s ease, max-height 0.3s ease;
        opacity: 1;
        max-height: 100px;
        overflow: hidden;
    }
    
    .navbar-firstLine.hide {
        opacity: 0;
        max-height: 0;
        pointer-events: none;
    }

    .navbar-loginButton {
        display: flex;
        align-items: center;
        border-radius: 39px;
        border-color: #B6349A;
        border-width: 1px;
        cursor: pointer;
        width: auto;
        padding: 10px 16px;
        min-width: 50px;
    }
} */