.registerPage-root {
    display: flex;
    flex-direction: column;
    align-items: center;

    .registerPage-header {
        height: 84px;
        display: flex;
        align-items: center;
        justify-content: center;
        .registerPage-header-logo {

        }
    }

    .registerPage-content {
       
    }
}