.passwordPage-root {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .passwordPage-previousPageButton {            
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        .passwordPage-previousPageButton-border {
            padding: 12px;
            border-color: #F0EEF0;
            border-width: 1px;
            border-radius: 100%;
            .passwordPage-previousPageButton-image {
                width: 24px;
                height: auto;
            }
        }
    }

    .passwordPage-header {
        font-size: 32px;
        font-weight: 600;
    }

    .passwordPage-form {
        background-color: #FCFCFC;
        padding: 24px;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        .passwordPage-getUsername {
            display: flex;
            flex-direction: column;
            .passwordPage-getUsername-text {
                font-size: 14px;
                font-weight: 600;
            }
            .passwordPage-getUsername-input {
                height: 52px;
                background-color: white;
                border-radius: 12px;
            }
        }
        .passwordPage-getPassword {
            display: flex;
            flex-direction: column;
            .passwordPage-getPassword-text {
                font-size: 14px;
                font-weight: 600;
            }
            .passwordPage-getPassword-input {
                height: 52px;
                background-color: white;
                border-radius: 12px;
            }
        }

        .passwordPage-errorText {
            font-size: 14px;
            font-weight: 600;
            color: red;
        }
        .passwordPage-contiuneButton {
            padding: 12px 24px;
            background-color: #B6349A;
            border-radius: 39px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .passwordPage-continueButton-text {
                color: white;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}