$mobileBreakpoint: 600px;

.settingPage-root {

    .settingPage-content {
        padding-top: 110px;
        padding-left: 32px;
        padding-right: 32px;
        display: flex;
        gap: 32px;

        @media (max-width: $mobileBreakpoint) {
            padding-top: 160px;
        }

        .settingPage-content-left {

        }

        .settingPage-content-right {
            flex-grow: 1;
        }
    }

    .overlay-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9998;
    }
}