.navbar-loginButton-root {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    border-radius: 39px;
    border-color: #B6349A;
    border-width: 1px;
    cursor: pointer;
    gap: 8px;
    min-width: 20px;

    .navbar-loginButton-image {
        width: 16px;
        height: auto;
    }

    .navbar-loginButton-text {
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
    }

    @media (max-width: 700px){

        padding: 6px 15px;
        min-width: 20px;

        .navbar-loginButton-text {
            display: none;
        }
    }

    .navbar-loginButton-image {
        min-width: 20px;
        height: auto;
    }

}
