.navbar-location-root {
    display: flex;
    gap: 8px;
    min-width: 100px;
    cursor: pointer;

    .navbar-location-text {
        font-weight: 500;
        font-size: 14px;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .navbar-location-image {
        width: auto;
        height: 16px;
    }
}
