.logout-button-root {
    display: flex;
    align-items: center;
    padding: 12px 32px;
    border-radius: 39px;
    border-color: #B6349A;
    border-width: 1px;
    cursor: pointer;
    position: relative;

    .logout-button-border {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;

        .logout-button-userName {
            font-size: 14px;
            font-weight: 600;
        }

        .logout-button-logoutText {
            font-size: 12px;
        }
    }

    .my-account-popup {
        position: absolute;
        top: 100%;
        z-index: 1000;
        right: 0;
    }
}