.mapPage-root {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 10px;

    .mapPage-map {
        height: 420px;
        width: 100%;
        border-radius: 32px;
    }

    .mapPage-info {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .mapPage-info-addressType {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 12px;
            .mapPage-info-addressType-header {
                font-size: 14px;
                font-weight: 600;
            }
            .mapPage-info-addressType-content {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 16px;
                .selected {
                    background-color: #FEF5FD;
                    color: #B6349A;
                    border-color: #B6349A !important;
                    border-style: solid;
                    border-width: 1px;
                }
                .mapPage-info-addressType-home {
                    padding: 10px 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 24px;
                    border-color: #F0EEF0;
                    border-width: 1px;
                    border-style: solid;
                    cursor: pointer;
                    .mapPage-info-addressType-home-text {
                        font-size: 14px;
                    }
                }
                .mapPage-info-addressType-apartment {
                    padding: 10px 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 24px;
                    border-color: #F0EEF0;
                    border-width: 1px;
                    cursor: pointer;
                    .mapPage-info-addressType-apartment-text {
                        font-size: 14px;

                    }
                }
                .mapPage-info-addressType-office {
                    padding: 10px 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 24px;
                    border-color: #F0EEF0;
                    border-width: 1px;
                    cursor: pointer;
                    .mapPage-info-addressType-office-text {
                        font-size: 14px;
                    }
                }
            }
        }

        .mapPage-info-addressName {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 12px;
            .mapPage-info-addressName-header {
                font-size: 14px;
                font-weight: 600;
            }
            .mapPage-info-addressName-input {
                
            }
        }

        .mapPage-info-streetAddress {
            display: flex;
            gap: 12px;

            .mapPage-info-streetAddress-room {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 12px;
                .mapPage-info-streetAddress-room-header {
                    font-size: 14px;
                    font-weight: 600;
                }
                .mapPage-info-streetAddress-room-input {

                }
            }
            .mapPage-info-streetAddress-building {
                display: flex;
                gap: 12px;
                flex-direction: column;
                justify-content: flex-start;
                .mapPage-info-streetAddress-building-header {
                    font-size: 14px;
                    font-weight: 600;
                }
                .mapPage-info-streetAddress-buliding-input {
    
                }
            }
        }

        .mapPage-info-addressDetail {
            display: flex;
            gap: 12px;
            .mapPage-info-addressDetail-city {
                display: flex;
                flex-direction: column;
                gap: 12px;
                justify-content: flex-start;
                .mapPage-info-addressDetail-city-header {
                    font-size: 14px;
                    font-weight: 600;
                }
                .mapPage-info-addressDetail-city-input {

                }
            }
            .mapPage-info-addressDetail-village {
                display: flex;
                flex-direction: column;
                gap: 12px;
                justify-content: flex-start;
                .mapPage-info-addressDetail-village-header {
                    font-size: 14px;
                    font-weight: 600;
                }
                .mapPage-info-addressDetail-village-input {

                }
            }
            .mapPage-info-addressDetail-state {
                display: flex;
                flex-direction: column;
                gap: 12px;
                justify-content: flex-start;
                .mapPage-info-addressDetail-state-header {
                    font-size: 14px;
                    font-weight: 600;
                }
                .mapPage-info-addressDetail-state-input {

                }
            }
        }

        .mapPage-info-instruction {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 12px;
            .mapPage-info-instruction-header {
                font-size: 14px;
                font-weight: 600;
            }
            .mapPage-info-instruction-input {

            }
        }

        .mapPage-info-safeButton {
            display: flex;
            width: 100%;
            padding: 12px 24px;
            border-radius: 39px;
            background-color: #B6349A;
            gap: 8px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .mapPage-info-safeButton-image {
                width: 24px;
                height: auto;
            }
            .mapPage-info-safeButton-text {
                color: white;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}