.singleAddressCard-root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-radius: 30px;

    .singleAddressCard-left {
        display: flex;
        gap: 16px;
        align-items: center;

        .singleAddressCard-selectIcon {
            width: 20px;
            height: auto;
        }
    
        .singleAddressCard-addressInfo {
            display: flex;
            flex-direction: column;
            gap: 2px;
            .singleAddressCard-addressInfo-addressName {
                color: black;
                font-size: 16px;
                font-weight: 600;
            }
            .singleAddressCard-addressInfo-address {
                color: #9C939D;
                font-size: 14px;
            }
        }
    }

    .singleAddressCard-editButton {
        display: flex;
        align-items: center;
        gap: 8px;
        .singleAddressCard-editButton-image {
            width: 22px;
            height: auto;
        }
        .singleAddressCard-editButton-text {
            color: #B6349A;
            font-size: 14px;
            font-weight: 600;
        }
    }
}

.singleAddressCard-root:hover {
    cursor: pointer;
}

.selected {
    background-color: white;
}
